#textarea{
  background-color: rgba(173, 216, 230, 0.6);
  line-height: 2;
  border: 5px solid white;
  filter: drop-shadow(0 0 0.75rem rgba(173, 216, 230));
}
h3 {
    color: white;
    filter: drop-shadow(0 0 0.75rem black);
}
h4 {
    color: white;
    filter: drop-shadow(0 0 0.75rem black);
}
.grid-container {
    display: grid;
    align-content: center;
    grid-template-areas:
    'header'
    'right';
    grid-gap: 10px;
    background-color: white;
    padding: 10px;
  }
.grid-container > div {
    padding: 20px 0;
    font-size: 30px;
  }
  .item1 { grid-area: header; }
  .item3 { grid-area: right; }
body {
    background-image: url('./bgimg.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#area {
    background-color: white;
    border: 10px solid black;
    border-radius: 8px;
    margin: 1em  0;
  }
#area2 {
    background-color: white;
    border: 10px solid black;
    border-radius: 8px;
    margin: 1em 0;
}
#area3 {
    background-color: white;
    border: 10px solid black;
    border-radius: 8px;
    margin: 1em 0;
    display:inline-block;
}
.ball {
    background-color: black;
    position: absolute;
    display: inline-block;
    border-radius: 50%;
  }
hr.headertag {
    border: 5px solid white;
    border-radius: 5px;
    filter: drop-shadow(0 0 0.75rem white);
    width: 660px;
    position:absolute;
    left: 50%;
    transform: translate(-50%, -50%)
  }
.spacer1 {
    font-size: 0;
    height: 30px;
    line-height: 0;
}
.spacer2 {
    font-size: 0;
    height: 315px;
    line-height: 0;
}
.spacer3 {
    font-size: 0;
    height: 67px;
    line-height: 0;
}
span {
  display: inline-block;
  padding-top: 70px;
}
.footer {
   position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgba(173, 216, 230, 0.6);
   color: white;
   text-align: center;
   filter: drop-shadow(0 0 0.75rem rgba(173, 216, 230));
   line-height: 2;
}